/* .cartDivision{
    margin-right: 10px;
    margin-left: 20px;
    
    
    
    
}
.scroll
{
    overflow: scroll;
} */
/* 
.cartDivision{
    margin-right: 10px;
    margin-left: 20px;
}

.scroll{
    overflow: scroll; */
/* } */
.cartDivision{
    margin-right: 10px;
    margin-left: 20px;
}

.scroll{
    overflow: scroll;
}